.unregistered-home-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blogs-display {
    display: flex;
    margin-inline: 20px;
}

.nav-drop-menu {
    margin-left: -100px;
}

.create-card {
    max-width: 900px;
    padding-inline: 1.5%;
}

.offcanvas {
    height: 75vh !important;
}

.profile-conainer {
    justify-content: space-evenly;
    margin-inline: 80px;
}

.edit-input {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    transition: .3s ease-in-out;
}

.edit-textarea {
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.edit-textarea:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none;
}

.title-edit-input {
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    font-size: 26px;
}

.log-inputs:focus {
    box-shadow: none;
}

.title-edit-input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.recomended {
    display: flex;
    margin-inline: 20px;
}


@media(width > 1450px) {

    .blog-card {
        width: 980px;
        margin-inline: 50px;
    }

}

@media(width <=1450px) {

    .blog-card {
        width: 60vw;
    }

}

@media(width <=1060px) {

    .blog-card {
        width: 90vw;
        margin-inline: 20px;
    }

    .recomendation-card {
        width: 15rem !important;
    }

}

.divider {
    width: 1px;
    background-color: #313131;
}

.log-inputs {
    border: none;
    border-bottom: 2px solid;
    border-radius: 0px;
    outline: none;
}

.log-inputs::placeholder {
    color: #aaaaaa !important;
}

.login-mods-btn {
    background-color: #2b2b2b;
}

.pagination li {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.pagination li.active {
    background-color: #0055b1;
    color: #fff;
}

.pagination li.previous, .pagination li.next {
    font-weight: bold;
}

.pagination li.break {
    margin: 0 5px;
}

.pagination li:hover {
    background-color: #1a1a1a;
}